/* -- NAVBAR --*/
.navbar {
    display: flex; /* fila horizontal */
    align-items: center; /* centrado vertical */
    justify-content: space-between; /*extremos*/
    padding: 12px 5%;
    background: var(--blanco);
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    position: sticky; top: 0; z-index: 100;
}

.logo{display: flex;
    align-items: center;
    gap: 8px;
}

.logo-icono {width: 32px;
    height: 32px;
    border-radius: 8px;
    background: #00c9a7;
    color: var(--blanco);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-texto {font-size: 1.2rem;
    font-weight: 700;
    color: var(--azul);
}

.navbar-nav {display: flex;
    align-items: center;
    flex: 1;
    margin: 0 20px;
}

.nav-lista {display: flex;
    align-items: center;
    gap: 4px;
    list-style: none;
    width: 100%;
}

.nav-link {padding: 8px 12px; 
    color: nav(--texto);
    font-weight: 500;
}

.nav-link:hover {color: var(--azul);}

/*Buscador*/
.nav-buscador {display: flex;
    align-items: center;
    gap: 6px;
    flex: 1;
    border: 1px solid var(--borde);
    border-radius: 40px;
    padding: 6px 14px;
}

.buscar-input {border: none;
    background: transparent;
    font-family: var(--fuente);
    width: 100%;
}

/*Dropdown*/
.nav-item{
    position: relative;
} /*ancla el panel*/

.dropdown{
    position: absolute;
    top: 100%; left: 0;
    list-style: none;
    background: var(--blanco);
    border: 1px solid var(--borde);
    border-radius: var(--radio);
    min-width: 190px;
    padding: 6px 0;
    z-index: 200;
    opacity: 0;
    visibility: hidden; /*oculto*/
    transition: opacity 0.2s;
}

.nav-item:hover .dropdown {opacity: 1;
    visibility: visible;
} /*visible al hover*/

.dropdown li a {display: block;
    padding: 9px 18px;
    color: var(--texto);
}

.dropdown li a:hover {
    color: var(--azul);
    background: var(--fondo);
}

.hamburger {
    display: none;
} /*aparece en mobile*/
