
@media (max-width: 768px) {
    .navbar {padding: 12px 5%; height: auto;}

    .navbar-nav {display: none;}
    .navbar-cta { display: none;}
    .nav-buscador {display: none;}

    .hamburger {
        display: block;
        background: none;
        border: 1px solid var(--borde);
        border-radius: var(--radio);
        padding: 6px 12px;
        font-size: 1.2rem;
        cursor: pointer;
        color: white;
    }

    .navbar-nav.abierto {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 12px 0;
        border-top: 1px solid var(--borde);
    }

    .nav-link .curso-icono {display: none;}

    .hero {grid-template-columns: 1fr; padding: 40px 5%; text-align: center;}
    .hero-imagen {display: none;}
    .hero-contenido { padding: 0;}
    .programas-grid {grid-template-columns: 1fr;}
    .cursos-grid {grid-template-columns: 1fr;}
    .expertos { grid-template-columns: 1fr; gap: 30px;}
    .form-row {flex-direction: row;}
    .footer-grid {grid-template-columns: 1fr;gap: 24px; }
    .footer-inferior {flex-direction: column; gap: 16px;text-align: center;}
}

/* --- MEDIA QUERY: REGLAS PARA TABLET --- */
@media (min-width: 768px) {
    .navbar {height: 64px;}
    .navbar-nav { display: flex;width: auto;}
    .navbar-cta { display: block; }
    .nav-buscador { display: flex;}
    .hamburger {display: none;}
    .hero {grid-template-columns: 45% 55%; padding: 0 5%; text-align: left;}
    .hero-imagen { display: flex;}
    .hero-contenido { padding: 60px 0 60px 40px; }
    .programas-grid { grid-template-columns: repeat(2, 1fr); }
    .cursos-grid { grid-template-columns: repeat(2, 1fr); }
    .expertos { grid-template-columns: 1fr 1fr;}
    .form-row { flex-direction: row;}
    .footer-grid {  grid-template-columns: 1fr 1fr;}
    .footer-inferior { flex-direction: row;}
}


@media (min-width: 1024px) {
    .programas-grid { grid-template-columns: repeat(4, 1fr); }
    .footer-grid { grid-template-columns: 2fr 1fr 1fr 1fr 1fr;}
}
@media (max-width: 768px){

    .programas-grid{
        grid-template-columns: 1fr;
    }

}